[run]
branch=true
source=app

[report]
skip_empty=true

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

omit =
    app\src\pick_users\pick_user_dependencies.py
    app\src\pick_users\run_pick_users.py
    app\src\select_data\select_data_dependencies.py
    app\src\select_data\select_data_printer.py
    app\src\select_data\run_select_data.py
    app\src\train\training_dependencies.py
    app\src\train\run_prediction.py
    app\src\train\run_training.py
